/*standard CSS including some specific nexting which gives higher prioritisation*/
* {
    font-family: arial;
    box-sizing: border-box;
}

.clearboth {
    clear: both;
}

h1, h3, p {
    text-align: center;
    color: black;
}

p{
    font-size: 18px;
}

table, th, td, tr{
    border: 1px solid black;
    border-collapse: collapse;
    border-color: black;
    text-align: center;
    padding: 10px;
    color: black;
}

table{
    width:100%;
}

.radio_cell p:first-child {
    margin-top: 0;
}

.radio_cell p:last-child {
    margin-bottom: 0;
}

input[type="text"],
input[type="password"],
input[type="textarea"],
textarea {
    width: 100%;
    border-color: white;
    text-align: center;
    color: black;
    background-color: white;
    border: 1px solid grey;
    padding: 7px 0;
}

textarea {
    margin: 10px 0;
}

input[type="submit"] {
    background-color: #636363;
    padding: 12px 35px;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    text-align: center;
    align-items: center;
}

input[type="submit"]:hover {
    background-color: black;
}

input[type="radio"] {
    position: relative;
    top: 3px;
}

.dropdown {
    text-align: center;
}
.submit, .submit td{
    border-color:white;
}

.tablewidth {
    width: 25%;
}

.copyright {
    font-size: 12px;
    padding-top: 30px;
    color: #ccc;
}

.status p {
    text-align: left;
}

ul.menu {
    list-style: none;
    padding: 0;
    margin: 0 0 30px 0;
    width: 100%;
}

ul.menu li {
    display: inline-block;
    margin-bottom: 10px;
    min-height: 60px;
}

ul.menu li a {
    text-decoration: none;
}

nav {
    width: 100%;
}

ul.menu.menuloggedin li {
    width: calc(100% / 7);
    float: left;
    text-align: center;
    padding: 10px 0;
}

ul.menu.menuloggedout li {
    width: calc(50% / 2);
    float: left;
    text-align: center;
    padding: 10px 0;
}

.contactform{
    margin-bottom: 15px;
}

label input {
    margin-bottom: 15px;
}

.center {
    align-content: center;
    text-align: center;
}